<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.augustana.csc490.colormatch" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HighScoreMenu"
            android:label="@string/title_activity_high_score_menu" >
        </activity>
        <activity
            android:name=".SelectDifficultyMenu"
            android:label="@string/title_activity_select_difficulty_menu" >
        </activity>
        <activity
            android:name=".ThreeButtonGameLayout"
            android:label="@string/title_activity_three_button_game_layout" >
        </activity>
    </application>

</manifest>
